.description {
    
    font-style:inherit;
    color: rgb(0, 0, 0);
    text-align:center;
    margin: 1.5em;
    line-height: 1.5;
    border-radius: 0.2em;
   
}

.carroussel {
    
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 414px;
width: 640px;
overflow:hidden;

}
.images {
    display: flex;
    animation-duration: 10s;
    animation-name: mesImages;
    animation-iteration-count: infinite;
}

@keyframes mesImages {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-640px);
    }
    50% {
        transform: translateX(-1280px);
    }
    75% {
        transform: translateX(-1920px);
    }
    100% {
        transform: translateX(0);
    }

}


