
.nav {
    padding: 0.2rem;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #505AA0;
}
.nav ul {
    
    display: flex;
    gap: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav a {
    color: #ffffff;
}